<li>
  <a href="/jobs/detail?id=<%= job.id %>" class="job">
    <span class="job-name">
        <%= job.name %>
    </span>
    <span class="stage">
        Stage <%= job.current_stage.to_s %> / <%= job.stages.count %> total
    </span>
    <%
       @current_stage = job.stages.find_by(:stage_no => job.current_stage)
       @status_id = @current_stage.status_id
    %>
    <span class="status<%= @status_id == 2 ? " error" : "" %>">
        <%
           concat statuses.find(@status_id).name
        %>
    </span>
  </a>
</li>