<% if @result == "success" %>
var current_stage = $('.current-stage');

// change current stage (completed)'s total time and percentage of elapsed time
<%
time_total = (@stage.end_time - @stage.start_time).to_i.abs / 3600.0
time_elapsed = (Time.now - @stage.start_time).to_i.abs / 3600.0
if time_total == 0.0
percentage = 0
else
percentage = (time_elapsed / time_total) * 100
percentage = percentage > 100 ? 100 : percentage
end
time_to_stage_complete = (@stage.end_time - Time.now).to_i
time_to_stage_complete = time_to_stage_complete < 0 ? 0 : time_to_stage_complete;
%>

current_stage.find('.elapsed #elapsed-time').html('<%= sprintf('%.2f', time_elapsed)%>')
current_stage.find('p.total').html('<%= sprintf('%.2f', time_total)%> <span>hrs</span>')
current_stage.find('.status-bar .bar').css('width', '<%=percentage%>%')

$(".current-stage .bar").stop();
$(".current-stage .bar").animate({ width: "100%" }, <%=time_to_stage_complete * 1000%>);

// change next stages' start and end time
<% @next_stages.each { |stage| %>
current_stage.find('input.start_time').val("<%= stage.start_time %>");
current_stage.find('input.end_time').val("<%= stage.end_time %>");
current_stage.find('.start-time-day').html('<%= stage.start_time.strftime("%A %-m/%e") %>');
current_stage.find('.start-time').html('<%= stage.start_time.strftime("%H:%M") %>')
current_stage.find('.start-time-ampm').html('<%= stage.start_time.strftime("%P") %>')
current_stage.find('.end-time').html('<%= stage.end_time.strftime("%H:%M") %>')
current_stage.find('.end-time-ampm').html('<%= stage.end_time.strftime("%P") %>')
current_stage = current_stage.next();
<% }%>
<% else %>
alert('There is an error while processing your request.');
<% end %>
$('.current-stage .add-time, .current-stage .remove-time').removeClass('working')