<div class="job-stage<%= @job.current_stage > stage.stage_no ? " completed" : @job.current_stage < stage.stage_no ? " not-started" : " current-stage" %>" stage_no="<%= stage.stage_no %>">

  <h2>Stage <%= stage.stage_no%></h2>

  <div class="stage-nav">
    <button class="left">
      <span></span>
    </button>
    <button class="right">
      <span></span>
    </button>
  </div>

  <div class="status-container">
    <span>Status</span>

    <select class="dropdown">
      <%= render :partial => @statuses, :locals => {:current_status => stage.status_id} if @statuses.present? %>
    </select>
    <a class="update-status">
      update status
    </a>

    <div class="status-completed">
      <span class="status<%= stage.status_id == 2 ? " error" : "" %>"><%= @statuses.find(stage.status_id).name %></span>
      <span class="status-text">Complete</span>
    </div>

    <div class="status-not-started">
      <span class="status-text">Not Started</span>
    </div>

  </div>
  <div class="status-info">
    <div class="time-info">
      <span class="start-time-day">
        <%= stage.start_time.strftime("%A %-m/%e") %>
      </span>

      <p>
        <span>
            Start
        </span>
        <span class="start-time time">
            <%= stage.start_time.strftime("%H:%M") %>
        </span>
        <span class="start-time-ampm ampm">
            <%= stage.start_time.strftime("%P") %>
        </span>
      </p>

      <p>
        <span>
            End
        </span>
        <span class="end-time time">
            <%= stage.end_time.strftime("%H:%M") %>
        </span>
        <span class="end-time-ampm ampm">
            <%= stage.end_time.strftime("%P") %>
        </span>
      </p>

      <input type="hidden" class="start_time" value="<%= stage.start_time%>" />
      <input type="hidden" class="end_time" value="<%= stage.end_time%>" />

    </div>
    <div class="button-container">
      <div class="left">
        <button class="stage-complete-button button">
          Stage Complete
        </button>
      </div>
      <div class="right">
        <button class="remove-time">-</button>
        <button class="add-time">+</button>
        <span>Add/Remove Time</span>
      </div>
    </div>
  </div>
  <div class="status-bar">
    <p class="elapsed">
      <span id="elapsed-time">
      <% if @job.current_stage > stage.stage_no
        time_elapsed = (stage.end_time - stage.start_time).to_i.abs / 3600.0
        concat sprintf('%.2f', time_elapsed)
      end %>
      <% if @job.current_stage == stage.stage_no
        time_elapsed = (Time.now - stage.start_time).to_i.abs / 3600.0
        concat sprintf('%.2f', time_elapsed)
      end %>
      <% if @job.current_stage < stage.stage_no
        concat "0.00"
      end %>
      </span>
      <span>hrs</span>
    </p>

    <p class="total">
      <%
         time_total = (stage.end_time - stage.start_time).to_i.abs / 3600.0
         concat sprintf('%.2f', time_total)
      %>
      <span>hrs</span>
    </p>

    <div class="bar-outer">
      <% time_total = (stage.end_time - stage.start_time).to_i.abs / 1.0
         time_elapsed = (Time.now - stage.start_time).to_i.abs / 1.0
         if time_total == 0
           percentage = 0
         else
           percentage = (time_elapsed / time_total) * 100
           percentage = percentage > 100 ? 100 : percentage
         end
      %>
      <div class="bar" style="<%= @job.current_stage == stage.stage_no ? "width:"+percentage.to_s+"%" : "" %>;"></div>
    </div>

    <span class="elapsed">
        elapsed
    </span>

    <span class="total">
        total
    </span>
  </div>

  <div class="product-container">
    <h4>Sand</h4>

    <div>
      <p class="product-stats">
        Sand Total
        <span class="product-total number">
          <%= @sands.map(&:quantity).sum %>
        </span>
      </p>

      <% @stage_sands = stage.sands.split(',') %>
      <p class="product-stats">
        Sand Used
        <span class="product-used number">
          <%= @sands.select{ |item| @stage_sands.include?(item.id.to_s)}.map(&:quantity).sum %>
        </span>
      </p>

      <p class="product-stats">
        Sand Left
        <span class="product-left number">
          <%= @sands.select{ |item| !@stage_sands.include?(item.id.to_s)}.map(&:quantity).sum %>
        </span>
      </p>

    </div>

    <ul class="product-checklist">
      <li>
        Check when loaded to update totals
      </li>
      <% if @sands.present? %>
        <% @sands.each { |sand| %>
          <li sand_id="<%=sand.id%>" class="sand<%= @stage_sands.include?(sand.id.to_s) ? " checked":"" %>">
            <input type="checkbox" name="stage<%= stage.stage_no%>-cb<%=sand.id%>" id="stage<%= stage.stage_no%>-cb<%=sand.id%>" class="checkbox">
            <label for="stage<%= stage.stage_no%>-cb<%=sand.id%>" class="product-label">
              <span><%= sand.detail %></span>
              <span class="amount number"><%= sand.quantity %></span>
            </label>
          </li>
        <% } %>
      <% end %>
    </ul>
  </div>

  <% if @job.current_stage == stage.stage_no
     time_to_stage_complete = (stage.end_time - Time.now).to_i
     time_to_stage_complete = time_to_stage_complete < 0 ? 0 : time_to_stage_complete;
  %>
  <script>
    $(".current-stage .bar").animate({ width: "100%" }, <%=time_to_stage_complete * 1000%>);
  </script>
  <% end %>
</div>